In [1]:
import pandas as pd
import  os
from sqlalchemy import create_engine
from pathlib import Path
import sys

In [2]:
# Get the current directory (where this script is located)
current_dir = Path(sys.path[0])
print(current_dir)


# Construct the relative path to the JSON file
file_name = 'product_catalog[1].csv'
file_path = os.path.join(current_dir, '..', 'Sources', file_name)

e:\test\Data_Engineer_Assignment\Python Script

In [45]:
df = pd.read_csv(file_path)

In [47]:
# Convert 'price' to numeric, invalid parsing will be set as NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Filter out rows where 'price' is less than 0 or NaN
df = df[(df['price'] >= 0) & (df['price'].notna())]

In [49]:
# Function to generate product name based on product_id
def generate_product_name(row):
    if pd.isna(row['product_name']):
        product_num = row['product_id'][1:]  # Extract numeric part of product_id
        product_num_int = int(product_num)
        return f"Product {product_num_int}"
    return row['product_name']

# Apply function to 'product_name' column
df['product_name'] = df.apply(generate_product_name, axis=1)

C:\Users\2521143095\AppData\Local\Temp\ipykernel_16080\335481654.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['product_name'] = df.apply(generate_product_name, axis=1)

In [50]:
df

  product_id product_name    category  price
1       P002    Product 2  Category B  200.0
2       P003    Product 3  Category A  150.0
3       P004    Product 4  Category C  300.0
5       P001    Product 1  Category A  100.0

In [ ]:
# Create an engine instance
engine = create_engine('postgresql://master_tk:120344@localhost:5432/postgres')

In [ ]:
# Insert data into PostgreSQL database
try:
    df.to_sql('customer_transactions', engine, if_exists='append', index=False, schema='pre_prd')
    print("Data successfully inserted into PostgreSQL database.")
except Exception as e:
    print("Error:", e)