In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.2-cp39-cp39-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.0-cp39-cp39-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.9 kB 640.0 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 804.1 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\2521143095\appdata\local\anaconda3\envs\python\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\2521143095\appdata\local\anaconda3\envs\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp39-cp39-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/11.6 MB 6.5 MB/s eta 0:00:02
   -- ------------------------------------- 0.7/11.6 MB 7.3 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/11.6 MB 8.5 MB/s eta 0:00:02
   ------ --------------------------------- 2.0/11.6 MB 10.7 MB/s eta 0:00:01
   ---------- ----------------------------- 3.2/11.6 MB 13.5 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.6 MB 16.7 MB/s eta 0:00:01
   ---------------------- ----------------- 6.5/11.6 MB 19.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.6 MB 23.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 28.5 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 34.4 MB/s eta 0:00:00
Downloading numpy-2.0.0-cp39-cp39-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ----- ---------------------------------- 2.5/16.5 MB 78.9 MB/s eta 0:00:01
   ------------ --------------------------- 5.0/16.5 MB 53.5 MB/s eta 0:00:01
   ------------------- -------------------- 8.1/16.5 MB 57.8 MB/s eta 0:00:01
   ----------------------------- ---------- 12.2/16.5 MB 65.6 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.5 MB 93.0 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 72.5 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ---------------------------------------- 505.5/505.5 kB ? eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------------------------------- 345.4/345.4 kB ? eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [4]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.31-cp39-cp39-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\2521143095\appdata\local\anaconda3\envs\python\lib\site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.31-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.7 MB/s eta 0:00:02
   ---------- ----------------------------- 0.5/2.1 MB 5.6 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 10.2 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl (290 kB)
   ---------------------------------------- 0.0/290.8 kB ? eta -:--:--
   --------------------------------------- 290.8/290.8 kB 17.5 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.31
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import  os
from sqlalchemy import create_engine
from pathlib import Path
import sys

In [2]:
# Get the current directory (where this script is located)
current_dir = Path(sys.path[0])
print(current_dir)


# Construct the relative path to the JSON file
file_name = 'product_catalog[1].csv'
file_path = os.path.join(current_dir, '..', 'Sources', file_name)

e:\test\Data_Engineer_Assignment\Python Script

In [45]:
df = pd.read_csv(file_path)

In [47]:
# Convert 'price' to numeric, invalid parsing will be set as NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Filter out rows where 'price' is less than 0 or NaN
df = df[(df['price'] >= 0) & (df['price'].notna())]

In [49]:
# Function to generate product name based on product_id
def generate_product_name(row):
    if pd.isna(row['product_name']):
        product_num = row['product_id'][1:]  # Extract numeric part of product_id
        product_num_int = int(product_num)
        return f"Product {product_num_int}"
    return row['product_name']

# Apply function to 'product_name' column
df['product_name'] = df.apply(generate_product_name, axis=1)

C:\Users\2521143095\AppData\Local\Temp\ipykernel_16080\335481654.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['product_name'] = df.apply(generate_product_name, axis=1)

In [50]:
df

  product_id product_name    category  price
1       P002    Product 2  Category B  200.0
2       P003    Product 3  Category A  150.0
3       P004    Product 4  Category C  300.0
5       P001    Product 1  Category A  100.0

In [ ]:
# Create an engine instance
engine = create_engine('postgresql://master_tk:120344@localhost:5432/postgres')

In [ ]:
# Insert data into PostgreSQL database
try:
    df.to_sql('customer_transactions', engine, if_exists='append', index=False, schema='pre_prd')
    print("Data successfully inserted into PostgreSQL database.")
except Exception as e:
    print("Error:", e)