In [3]:
import json
import pandas as pd
import os
import psycopg2
from sqlalchemy import create_engine
import sys
from pathlib import Path

In [7]:

table_name = 'customer_transactions'
schema_name = 'pre_prd'

In [6]:
# Function for data cleaning and transformation
def clean_and_transform(df):
    # Example: Drop rows with missing values and convert field1 to uppercase
    df_cleaned = df.dropna(subset=['field1', 'field2', 'field3'])
    df_cleaned['field1'] = df_cleaned['field1'].str.upper()
    return df_cleaned

In [8]:
def insert_into_postgres(df, table_name, schema):
    engine = create_engine('postgresql://master_tk:120344@localhost:5432/postgres')
    try:
        df.to_sql(table_name, schema, engine, if_exists='append', index=False)
        print("Data successfully inserted into PostgreSQL database.")
    except Exception as e:
        print("Error:", e)
    finally:
        engine.dispose()

In [9]:
# Get the current directory (where this script is located)
current_dir = Path(sys.path[0])
print(current_dir)


# Construct the relative path to the JSON file
file_name = 'customer_transactions[2].json'
file_path = os.path.join(current_dir, '..', 'Sources', file_name)

c:\Users\User\Desktop\Data_Engineer_Assignment\Python Script

In [10]:
with open(file_path, 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

In [45]:
df

,transaction_id,customer_id,product_id,quantity,price,timestamp
0,b1182d23-5bf8-4676-9f12-a0e912011caa,C001,P003,6,150.0,2024-02-04T13:06:35
1,3b019fcb-f96d-4403-948c-93f3028d042b,C003,P001,10,100.0,2024-06-22T11:42:33
2,346d2b7e-00d3-41af-b53e-0c8624aeba79,C001,P001,5,100.0,2024-03-12T16:16:16
3,9ad7558f-eecb-425b-864f-768db080e003,C002,P002,3,200.0,2024-03-29T04:01:02
4,b51d70d8-582d-4972-ba08-9ca81cc5a8a0,C003,P002,1,200.0,2024-02-10T09:54:36
5,b1182d23-5bf8-4676-9f12-a0e912011caa,C001,P003,6,150.0,2024-02-04T13:06:35
6,3b019fcb-f96d-4403-948c-93f3028d042b,C003,P001,10,100.0,2024-06-22T11:42:33
7,346d2b7e-00d3-41af-b53e-0c8624aeba79,C001,P001,5,100.0,2024-03-12T16:16:16
8,9ad7558f-eecb-425b-864f-768db080e003,C002,P002,3,200.0,2024-03-29T04:01:02
9,b51d70d8-582d-4972-ba08-9ca81cc5a8a0,C003,P002,1,200.0,2024-02-10T09:54:36
10,b1182d23-5bf8-4676-9f12-a0e912011caa,C001,P003,6,150.0,2024-02-04T13:06:35
11,3b019fcb-f96d-4403-948c-93f3028d042b,C003,P001,10,100.0,2024-06-22T11:42:33
12,346d2b7e-00d3-41af-b53e-0c8624aeba79,C001,P001,5,100.0,2024-03-12T16:16:16
13,9ad7558f-eecb-425b-864f-768db080e003,C002,P002,3,200.0,2024-03-29T04:01:02
14,b51d70d8-582d-4972-ba08-9ca81cc5a8a0,C003,P002,1,200.0,2024-02-10T09:54:36
15,b1182d23-5bf8-4676-9f12-a0e912011caa,C001,P003,6,150.0,2024-02-04T13:06:35
16,3b019fcb-f96d-4403-948c-93f3028d042b,C003,P001,10,100.0,2024-06-22T11:42:33
17,346d2b7e-00d3-41af-b53e-0c8624aeba79,C001,P001,5,100.0,2024-03-12T16:16:16
18,9ad7558f-eecb-425b-864f-768db080e003,C002,P002,3,200.0,2024-03-29T04:01:02
19,b51d70d8-582d-4972-ba08-9ca81cc5a8a0,C003,P002,1,200.0,2024-02-10T09:54:36

In [11]:
df.dtypes

transaction_id     object
customer_id        object
product_id         object
quantity            int64
price             float64
timestamp          object
dtype: object

In [12]:
df['transaction_id'] = df['transaction_id'].astype(str)
df['customer_id'] = df['customer_id'].astype(str)
df['product_id'] = df['product_id'].astype(str)
df['quantity'] = df['quantity'].astype(int)
df['price'] = df['price'].astype(float)
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [2]:
insert_into_postgres(df, table_name, schema)

NameError: name 'df' is not defined