In [1]:
import json
import os
import sys
import psycopg2
from pathlib import Path
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pandas as pd  
from shared_functions import *

In [9]:
table_customer_transasctions = 'customer_transactions'
table_product_catalog = 'product_catalog'
schema_pre_prd = 'pre_prd'

In [47]:
query = f"""SELECT ct.transaction_id, ct.customer_id, ct.product_id, pc.product_name, pc.category ,ct.quantity, ct.price, CAST(ct.timestamp AS DATE) AS transaction_date
          FROM {schema_pre_prd}.{table_customer_transasctions} ct
          LEFT JOIN {schema_pre_prd}.{table_product_catalog} pc
          ON ct.product_id = pc.product_id"""

In [48]:
df = get_from_postgres(query)

In [50]:
df['total_price']= df['quantity'] * df['price']

In [51]:
new_columns = ['transaction_id', 'customer_id', 'product_id', 'product_name', 'category', 'quantity', 'price', 'total_price', 'transaction_date']
df = df.reindex(columns = new_columns)

In [52]:
df

,transaction_id,customer_id,product_id,product_name,category,quantity,price,total_price,transaction_date
0,b1182d23-5bf8-4676-9f12-a0e912011caa,C001,P003,Product 3,Category A,6,150.0,900.0,2024-02-04
1,3b019fcb-f96d-4403-948c-93f3028d042b,C003,P001,Product 1,Category A,10,100.0,1000.0,2024-06-22
2,346d2b7e-00d3-41af-b53e-0c8624aeba79,C001,P001,Product 1,Category A,5,100.0,500.0,2024-03-12
3,9ad7558f-eecb-425b-864f-768db080e003,C002,P002,Product 2,Category B,3,200.0,600.0,2024-03-29
4,b51d70d8-582d-4972-ba08-9ca81cc5a8a0,C003,P002,Product 2,Category B,1,200.0,200.0,2024-02-10