In [1]:
import json
import os
import sys
import psycopg2
from pathlib import Path
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pandas as pd  
from shared_functions import *

In [2]:
table_name = 'customer_transactions'
schema_name = 'pre_prd'

In [3]:
query = f"SELECT * FROM {schema_name}.{table_name};"

In [4]:
df = get_from_postgres(query)

In [5]:
df

,transaction_id,customer_id,product_id,quantity,price,timestamp,created_by,created_at,updated_by,updated_at
0,b1182d23-5bf8-4676-9f12-a0e912011caa,C001,P003,6,150.0,2024-02-04 13:06:35,Admin,2024-07-07 02:14:36.063906,Admin,2024-07-07 02:14:36.063906
1,3b019fcb-f96d-4403-948c-93f3028d042b,C003,P001,10,100.0,2024-06-22 11:42:33,Admin,2024-07-07 02:14:36.063906,Admin,2024-07-07 02:14:36.063906
2,346d2b7e-00d3-41af-b53e-0c8624aeba79,C001,P001,5,100.0,2024-03-12 16:16:16,Admin,2024-07-07 02:14:36.063906,Admin,2024-07-07 02:14:36.063906
3,9ad7558f-eecb-425b-864f-768db080e003,C002,P002,3,200.0,2024-03-29 04:01:02,Admin,2024-07-07 02:14:36.063906,Admin,2024-07-07 02:14:36.063906
4,b51d70d8-582d-4972-ba08-9ca81cc5a8a0,C003,P002,1,200.0,2024-02-10 09:54:36,Admin,2024-07-07 02:14:36.063906,Admin,2024-07-07 02:14:36.063906